{% extends "personal/base.html" %} 
{% block content %}
<h1>HOME PAGE </h1>
<ul id="navigation">
    
    <ul>
        # for href, caption in [('index.html', 'Index'),
                                ('about.html', 'About')]:
            <li><a href="{{ href }}">{{ caption }}</a></li>
        # endfor
        </ul>
</ul>
{% endblock %}