<!DOCTYPE html>
<html>
<body bgcolor="skyblue" >
    <form action="check_by_email" method="post">
        {% csrf_token %}
        <input style = "height: 25px; width: 211px" type="email" name="email_id_to_check" placeholder="Email Id"><br/> <br/>
        <input type="submit" name="submit" />
    </form>
</body>
</html>