{% extends 'base.html' %}
    {% block content %}
        <h1> Hello {{name}} !</h1>

        <form action='add' method='post'>
            {% csrf_token %}
            1st num : <input type="text" name="num1" placeholder=""><br/>
            2nd num : <input type="text" name="num2" placeholder=""><br/>
            <input type="submit">
        </form>
    {% endblock %}    