{% extends 'base.html' %}
    {% block content %}

            <a font-size="smaller"  href="submit_data"> Click here to fill form </a>
            <br />
            <a font-size="smaller"  href="check_by_email"> Check by email </a>
            <br />
            <br />

        <table border="1">
            <tr>
              <th>Roll no</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Class Name</th>
              <th>Subject</th>
              <th>Marks</th>
              <th>Status</th>
            </tr>
            {% for student in std %}
            <tr>
              <td>{{student.roll_no}} </td>
              <td>{{student.first_name}}</td>
              <td>{{student.last_name}}</td>
              <td>{{student.className}}</td>
              <td>{{student.sub_name}}</td>
              <td>{{student.marks}}</td>
              {% if student.marks > 40%}
                <td>Pass</td>
              {% else %}
                <td>Fail</td>
              {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% endblock %}