<!DOCTYPE html>
<html>
<body bgcolor="pink">
    <form action="submit_data" method="post">
        {% csrf_token %}
        <div style="
            width: 100px;
            height: 100px;
            position: absolute;
            top: 0;
            bottom: 375px;
            left: 0;
            right: 0;
            margin: auto;
        ">
        <input style = "height: 25px; width: 211px" type="text" name="roll_no" placeholder="Roll No. "><br/> <br/>
        <input style = "height: 25px; width: 211px" type="text" name="first_name" placeholder="First Name"><br/> <br/>
        <input style = "height: 25px; width: 211px" type="text" name="last_name" placeholder="Last Name"><br/> <br/>
        <input style = "height: 25px; width: 211px" type="text" name="class_name" placeholder="Class Name"><br/> <br/>
        <input style = "height: 25px; width: 211px" type="email" name="email_id" placeholder="Email Id"><br/> <br/>
        <input style = "height: 25px; width: 211px" type="text" name="sub_name" placeholder="Subject"><br/> <br/>
        <input style = "height: 25px; width: 211px" type="number" name="marks" placeholder="Marks"><br/> <br/>
        <input type="submit" name="submit" />
        </div>
     </form>

</body>
</html>